mixin navigation
  nav
    a(href="/")
      b My Website
    a(href="/cities") Cities
    a(href="/about") About
    a(href="/account") Account
    a(href="/login") Login
    a(href="/register") Register
