extends layout

block content
  h2 #{title}

  body(style="background-image: url('https://thumbs.dreamstime.com/b/abstract-medieval-nautical-map-background-old-vintage-159658330.jpg'); background-repeat: no-repeat; background-size: cover;")
    p Thanks for visiting our website! We offer updated and accurate population information for cities all over the world. This website was created by Kiki, Kenly, Kennedy, and Junior, students of Roehampton University. We hope you can easily find the information you're looking for.
