extends layout

block content
  h1 Welcome to the Population Information Website
  p This website contains information about various cities and their populations.
  p Click on the links above to explore.
