doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Population Information
    link(rel="stylesheet" href="/static/styles.css")
    link(rel="stylesheet" href="/static/cities.css")
    link(rel="stylesheet" href="/static/gallery.css")
  body
    include ./mixings/nav.pug
    block content
