html,
body {
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 3rem;
}

h1 {
  font-size: xx-large;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 1rem 0rem;
}

nav b {
  font-size: large;
}

nav a {
  color: #181818;
  text-decoration: none;
}

nav a:hover {
  color: cornflowerblue;
}

.layout-content {
  padding-top: 1.5rem;
}

.homepage {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.welcome {
  text-align: center;
  margin-top: 50px;
}

.homepage-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.cities-heading, .about-heading, .account-heading {
  text-align: center;
  margin-top: 10px;
}

.cities-heading {
  color: #0066cc;
}

.about-heading {
  color: #009933;
}

.account-heading {
  color: #ff6600;
}
